html {
  text-align: center;
  font-family: Helvetica, sans-serif; }

body {
  margin: 20px;
  max-height: 60%;
  background: linear-gradient(#49a5bf, #9cc3df);
  font-size: Helvetica;
  text-align: center; }

header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: fixed;
  background: linear-gradient(#49a5bf, #9cc3df);
  width: 100%;
  top: 0; }

.body-container {
  align-items: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80%;
  justify-items: center;
  max-height: 1080px; }
  .body-container form {
    grid-column-start: auto;
    text-align: center; }
    .body-container form input {
      padding: 0;
      height: 50px;
      width: 240px;
      line-height: 70px;
      border-radius: 0;
      border-style: none;
      border-bottom: 1px solid #f4f4f4;
      outline: none;
      background-color: transparent;
      color: #333333;
      font-size: 24px;
      font-family: Helvetica, sans-serif;
      user-select: none; }

.footer-container {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%; }
