html {
  text-align: center;
  font-family: Helvetica, sans-serif; }

body {
  background: linear-gradient(#e66465, #9198e5);
  font-size: Helvetica;
  text-align: center; }

header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: fixed;
  background: linear-gradient(#e66465, #9198e5);
  width: 100%;
  top: 0; }

.grass-container {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%; }
