$primary: #428bca;
$main: linear-gradient(#e66465, #9198e5);
$secondary: linear-gradient(#49a5bf, #9cc3df);
$myFont: Helvetica, sans-serif;
$myFont-size: 24px;

html{
    text-align: center;
    font-family: $myFont;
    
}

body{
    margin: 20px;
    max-height: 60%;
    background: $secondary;
    font-size: Helvetica;
    text-align: center;
}
header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: fixed;
    background: $secondary;
    width: 100%;
    top: 0;
}

.body-container {
    align-items: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% ;
    justify-items: center;
    max-height: 1080px;

    form {
        height: 200px;
        grid-column-start: auto;
        text-align: center;

        input {
            padding: 0;
            height: 50px;
            width: 240px;
            line-height: 70px;
            border-radius: 0;
            border-style: none;
            border-bottom: 1px solid rgb(244, 244, 244);
            outline: none;
            background-color: transparent;
            color: #333333;
            font-size: $myFont-size;
            font-family: $myFont;
            user-select: none;
        }

    }

    .list-container{
        grid-column-start: auto;
        text-align: center;
        //border-bottom-style: dashed;
        //border-left-style: dashed;
        //border-right-style: dashed;
    }
    ul {
        display: inline;
        list-style: none;

        li{
            border: black;
            border-style: solid;
            padding: 10px;
        }
        
    }

}
.footer-container {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    
}



// Media Queries

@media (min-width: 480px) {
    // body {
    // /* something
    // //   background-color: lightgreen;
    // */
    // }
}
