$primary: #428bca;
$main: linear-gradient(#e66465, #9198e5);
$secondary: linear-gradient(#49a5bf, #9cc3df);
$myFont: Helvetica, sans-serif;
$myFont-size: 14px;
html{
    text-align: center;
    font-family: $myFont;
    
}

body{
    margin: 20px;
    max-height: 60%;
    background: $secondary;
    font-size: Helvetica;
    text-align: center;
}
header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: fixed;
    background: $secondary;
    width: 100%;
    top: 0;
}

.body-container {
    align-items: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80%;
    justify-items: center;
    max-height: 1080px;

    form {
        grid-column-start: auto;
        text-align: center;

        input {
            width: 200px;
            border-style: none;
            outline: none;
            background-color: transparent;
            font-size: $myFont-size;
            font-family: $myFont;

        }

    }

}
.footer-container {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    
}



// Media Queries

@media (min-width: 480px) {
    body {
    /* something
    //   background-color: lightgreen;
    */
    }
}
