{
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "globals": {
        "Atomics": "readable",
        "SharedArrayBuffer": "readable"
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-duplicate-imports": "warn",
        "max-lines": "warn"
    }
}